/*
* [Depricated]: This files contains styles for recommendation page. Since the team has not 
* decided whether to use Tailwind or not, this file is not used in the current state of tha app.
*/

body {
  font-family: sans-serif;
  padding-left: 25%;
  padding-right: 25%;
}

tr:not(:first-of-type) {
  height: 60px;
}

/*---------REGARDING THE TABLE ---------*/

td {
  font-size: 18px;
}

input[type="number"] {
  width: 35px;
}

/*---------REGARDING TOPMOST MENU---------*/
/*Inspiration: https://unused-css.com/blog/horizontal-list*/
/* To change to a desired form. This one at least assures that the list is ordered horisontally*/
li:hover {
  text-decoration: underline;
}

ul.category-menu {
  list-style: none;
  background-color: #48abe0;
  color: white;
  display: inline-block;
  padding: 1rem 2rem;
  margin-top: 1rem;
}

ul.category-menu li {
  display: inline-block;
  padding: 0 0.5rem;
  min-width: 7rem;
  text-align: center;
  cursor: pointer;
}

ul.category-menu li:not(:last-child) {
  border-right: 1px solid white;
}

/*------- REGARDING THE BUTTON -------- */
.button {
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont,
    sans-serif;
  font-size: 35px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 20px 150px;
  text-align: center;
  transform: translateY(0);
  transition: transform 125ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 150px;
}

.button:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .button {
    padding: 10px 30px;
  }
}
