/*Inspiration: https://unused-css.com/blog/horizontal-list*/
body { font-family: sans-serif; }

li:hover {
  text-decoration: underline;
}

ul.recepie-for-a-day {
  list-style: none;
  background-color: #48abe0;
  color: white;
  display: inline-block;
  padding: 1rem 2rem;
  margin-top: 1rem;
}

ul.recepie-for-a-day li {
  display: inline-block;
  padding: 0 0.5rem;
  min-width: 7rem;
  text-align: center;
  cursor: pointer;
}

ul.recepie-for-a-day li:not(:last-child) {
  border-right: 1px solid white;
}