.App {
  color: #72a24d;
}

body { 
  font-family: sans-serif; 
  padding-left:25%;
  padding-right:25%;
}

.interrow-padding{
  height:40px;
}

/*---------REGARDING THE TABLE ---------*/

input[type='number']{
  width:35px;
}

/*---------REGARDING TOPMOST MENU---------*/
/*Inspiration: https://unused-css.com/blog/horizontal-list*/
/* To change to a desired form. This one at least assures that the list is ordered horisontally*/
li:hover {
  text-decoration: underline;
}

ul.category-menu {
  list-style: none;
  background-color: #48abe0;
  color: white;
  display: inline-block;
  padding: 1rem 2rem;
  margin-top: 1rem;
}

ul.category-menu li {
  display: inline-block;
  padding: 0 0.5rem;
  min-width: 7rem;
  text-align: center;
  cursor: pointer;
}

ul.category-menu li:not(:last-child) {
  border-right: 1px solid white;
}
